@import '../../styles/colors.scss';

.container{
    background-color: rgb(233, 233, 233);
    color: black;
    margin-top: 5px;
    padding: 10px;
    .form{
        display: grid;
        grid-template-columns: max-content auto;
        padding: 20px;
        
        input{
            margin: 5px 10px;
            height: 2em;
        }
        label{
            margin-top: .5em;
        }
    }
    div{
        width: 100%;
        text-align: right;
        button{
            border: 0;
            border-radius: 5px;
            background-color: $button-color;
            padding: 10px 15px;
        }
    }
}