<div class="list">
  <h3 class="list-header">Stacje</h3>
  <div class="list-items">
    <div *ngFor="let station of stations"
         class="list-item list-item-active"
         (click)="selectStation(station)">
      <div class="list-item-side-left">
        {{station.locationName}}
      </div>
      <div class="list-item-side-right">
        <div [ngSwitch]="station.stationState">
          <span *ngSwitchCase="'active'">Aktywna</span>
          <span *ngSwitchCase="'blocked'">Zablokowana</span>
        </div>
        <div>
          Limit rowerów: {{station.bikesLimit}}
        </div>
      </div>
      <app-station-management *ngIf="station === selectedStation" [station]="station" class="station-management"
                              (stationModified)="onStationModified()"></app-station-management>
    </div>
  </div>
</div>

<div class="add-station">
  <form (ngSubmit)="addStation()">
    <fieldset>
      <legend>Nowa stacja:</legend>
      <div class="add-station-content">
        <div class="form-grid">
          <label class="add-station-label" for="station-name-input">Nazwa stacji:</label>
          <input name="station-name-input" [(ngModel)]="newStation.name" #name="ngModel" id="add-station-input" required/>
          <label class="add-station-label" for="station-limit-input">Limit rowerów:</label>
          <input name="station-limit-input" [(ngModel)]="newStation.bikesLimit" (change)="bikeLimitChanged" type="number"/>
        </div>
        <button type="submit" class="add-station-button" [disabled]="!name.valid">Dodaj stację</button>
      </div>
    </fieldset>
  </form>
</div>
