<div class="list">
  <h3 class="list-header">Stacje</h3>
  <div class="list-items">
    <div *ngFor="let station of stations"
         class="list-item list-item-active"
         (click)="selectStation(station)">
      <div class="list-item-side-left">
        {{station.locationName}}
      </div>
      <div [ngSwitch]="station.stationState" class="list-item-side-right">
        <span *ngSwitchCase="'active'">Aktywna</span>
        <span *ngSwitchCase="'blocked'">Zablokowana</span>
      </div>
      <app-station-management *ngIf="station === selectedStation" [station]="station"
                              class="station-management"></app-station-management>
    </div>
  </div>
</div>
<div class="add-station">
  <form (ngSubmit)="addStation(name.value)">
    <fieldset>
      <legend>Nowa stacja:</legend>
      <div class="add-station-content">
        <div>
          <label class="add-station-label" for="add-station-input">Nazwa stacji:</label>
          <input name="add-station-input" #name id="add-station-input" required/>
        </div>
        <button class="add-station-button">Dodaj stację</button>
      </div>
    </fieldset>
  </form>
</div>
