@import "src/app/styles/list";

.list {
  margin-bottom: 10px;

  .station-management {
    flex-basis: 100%;
  }
}

.add-station-content {
  display: flex;
  justify-content: space-between;
  .form-grid{
    display: grid;
    grid-template-columns: max-content auto;
    *{
      margin: 5px 10px;
    }
  }
}
