@import './colors.scss';
*{
    margin: 0;
    padding: 0;
}
.main-button{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: $button-color;
    color: $main-font-color;
    font-size: larger;
    font-weight: bold;
}

.list-container{
    width: 500px;
}
.view-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 1000px) {
    .view-container{
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .flex-item{
      max-width: 400px;
      margin: auto 20px;
    }
  }