@import './colors.scss';
.list{
    color: $main-font-color;
    background-color: $main-background-color;
    width: 600px;
    height: 500px;
    overflow: auto;
    .list-header{
        text-align: center;
    }
    .listItem{
        background-color: $main-box-color;
        display: flex;
        justify-content: space-between;
        .leftSide, .rightSide{
            font-size: 20px;
            padding: 10px;
        }
        margin: 5px;
    }
}