.messages {
  width: 250px;
  height: 0;
  position: relative;

  .message {
    margin: 2px;
    padding : 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid;

    &-success {
      border-color: #02ff02;
      background: #72ff72;
    }

    &-error {
      border-color: #ff0000;
      background: #ff3c3c;
    }

    &-text {
      padding: 2px;
      word-break: break-word;
    }

    &-close {
      padding: 2px;
      cursor: pointer;
    }
  }
}
