<div class="list">
  <h3 class="list-header">Rented bikes</h3>
  <div *ngFor="let bike of rentedBikes"
       class="list-item"
       (click)="selectBike(bike)">
    <div class="list-item-side-left">
      {{bike.id}}
    </div>
    <div class="list-item-side-right">
      <div>
        Data wypożyczenia:
      </div>
      <div>
        {{bike.rentalTimestamp.toLocaleString()}}
      </div>
    </div>
    <app-return-bike class="return-bike" [bike]="bike" *ngIf="bike === selectedBike"></app-return-bike>
  </div>
</div>
