<div class="header">
  <div class="header-row">
    <div class="logo">Bike Rentup</div>
    <button class="logout" (click)="logout()">Wyloguj</button>
  </div>
  <nav  class="navigation-container header-row" *ngIf="isTech">
    <a class="navigation-link"
     [routerLink]="['./home']">
     Panel użytkownika
    </a>
    <a class="navigation-link"
     [routerLink]="['./tech']">
     Panel specjalisty
    </a>
    <a class="navigation-link"
     [routerLink]="['./malfunctions']">
     Usterki
    </a>
  </nav>
  <app-notifications class="notifications"></app-notifications>
</div>
<main>
  <router-outlet></router-outlet>
</main>