<div class="list">
    <h3>Rowery</h3>
    <div class="list-items">
        <div *ngFor="let bike of bikes"
            class="list-item"
            >
            <div class="list-item-side-left">{{bike.id}}</div>
            <div class="list-item-side-right">
                <div>Stan: {{bike.state}}</div>
                <div *ngIf="bike.station">Na stacji: {{bike.station.locationName}}</div>
                <div *ngIf="bike.user">Użytkownik: {{bike.user.username}}</div>
            </div>
        </div>
    </div>
</div>
