<div class="list">
  <h3 class="list-header">Stacje</h3>
  <div class="list-items">
    <a *ngFor="let station of stations"
       [class.list-item-active]="station.stationState === 'active'"
       [class.list-item-blocked]="station.stationState === 'blocked'"
       class="list-item"
       [routerLink]="['../station', station.id, station.locationName]">
      <div class="list-item-side-left">
        {{station.locationName}}
      </div>
      <div [ngSwitch]="station.stationState" class="list-item-side-right">
        <div *ngSwitchCase="'active'" class="station-state">Aktywna</div>
        <div *ngSwitchCase="'blocked'" class="station-state">Zablokowana</div>
        <div class="bikes-count">Rowerów: {{station.bikeCount}}</div>
      </div>
    </a>
  </div>
</div>
