$main-font-color: white;
$main-box-color: hsl(0, 50%, 63%);
$main-box-hover-color: hsl(0, 27%, 47%);
$main-box-blocked-color: hsl(48, 2%, 49%);
$main-background-color: hsl(46, 32%, 76%);
$header-color: hsl(0, 64%, 62%);
$button-color: greenyellow;
