<div class="wrapper">
  <div class="list">
    <h3 class="list-header">{{station?.locationName}}</h3>
    <div class="list-items">
      <div *ngFor="let bike of bikes"
           [class.list-item-active]="bike.state === 'available'"
           [class.list-item-blocked]="bike.state !== 'available'"
           [class.bike-selected]="bike === selectedBike"
           (click)="selectBike(bike)"
           class="list-item">
        <div class="list-item-side-left">
          {{bike.id}}
        </div>
        <div [textContent]="getBikeStateText(bike.state)" class="list-item-side-right"></div>
        <app-rent-bike class="rent-bike" [bike]="bike" *ngIf="bike === selectedBike"></app-rent-bike>
      </div>
    </div>
  </div>

  <button class="button-back" (click)="goBack()">
    Powrót
  </button>
</div>
