@import "src/app/styles/colors";

.bike {
  display: block;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  background-color: $main-box-color;
  color: #eff3f6;

  .bike-id {
    display: inline-block;
  }

  .bike-state {
    display: inline-block;
    float: right;
  }
}

.bike-free:hover, .bike-selected {
  background-color: $main-box-hover-color;
}

.bike-blocked, .bike-reserved {
  opacity: 0.3;
  background-color: gray;
  color: #eff3f6;
}
