<div class="container">
  <form class="form">
    <header class="form-header">Logowanie</header>
    <div class="form-group">
      <label for="loginInput">Login</label>
      <input type="text" id="loginInput" name="loginInput" [(ngModel)]="formData.login" #loginInput="ngModel" required/>
    </div>
    <div class="form-group">
      <label for="passwordInput">Hasło</label>
      <input type="password" id="passwordInput" name="passwordInput" [(ngModel)]="formData.password"
             #passwordInput="ngModel" required/>
    </div>
    <button [disabled]="!loginInput.valid || !passwordInput.valid" class="main-button" (click)="login()">Zaloguj</button>
    <div><a class="register" routerLink="/register">Rejestracja</a></div>
    <div *ngIf="showErrorMessage" class="form-error">
      Złe hasło
    </div>
  </form>
</div>
