<div class="list">
    <h3>Serwisanci</h3>
    <div class="list-items">
        <div 
            *ngFor="let tech of techs"
            class="list-item list-item-active"
            (click)="selectTech(tech)"
        >
            <div class="list-item-side-left"> {{tech.username}}</div>
            <div class="list-item-side-right"> {{tech.id}}</div>
            <div *ngIf="tech===selectedTech" class="list-item-details">
                techDetails
            </div>
        </div>
    </div>
    <app-add-tech></app-add-tech>
</div>
