<div class="list">
    <header>
        <h3>Serwisanci</h3>
        <button (click)="toggleForm()" class="show-hide-add-tech">
            <ng-container *ngIf="!isFormVisible">
                Dodaj serwisanta
            </ng-container>
            <ng-container *ngIf="isFormVisible">
                Ukryj formularz
            </ng-container>
        </button>
    </header>
    <div class="list-items">
        <app-add-tech *ngIf="isFormVisible" (techListChanged)="getTechsList(); isFormVisible = false"></app-add-tech>
        <div
            *ngFor="let tech of techs"
            class="list-item list-item-active"
            (click)="selectTech(tech)"
        >
            <div class="list-item-side-left"> {{tech.username}}</div>
            <div class="list-item-side-right"> {{tech.id}}</div>
            <div *ngIf="tech===selectedTech" class="list-item-details">
                <app-delete-tech [tech]="tech" (techListChanged)="getTechsList()"></app-delete-tech>
            </div>
        </div>
    </div>
</div>
