<div>
  Liczba rowerów: {{station.bikeCount}}
</div>
<div>
  Liczba usterek: {{station.malfunctionCount}}
</div>
<div>
  Liczba rezerwacji: {{station.reservationCount}}
</div>
<div class="management">
  <button class="button-delete" (click)="delete()" *ngIf="station.stationState === 'blocked'">Usuń</button>
  <button class="button-block" (click)="block()" *ngIf="station.stationState !== 'blocked'">Zablokuj</button>
  <button class="button-unblock" (click)="unblock()" *ngIf="station.stationState === 'blocked'">Odblokuj</button>
</div>
