<div class="list">
    <h3>Rowery</h3>
    <div class="list-items">
        <div *ngFor="let bike of bikes"
            class="list-item list-item-active"
            (click)="selectBike(bike)"
            >
            <div class="list-item-side-left">{{bike.id}}</div>
            <div class="list-item-side-right">
                <div>Stan: {{bike.state}}</div>
                <div *ngIf="bike.station">Na stacji: {{bike.station.locationName}}</div>
                <!-- <div *ngIf="bike.user">Użytkownik: {{bike.user.username}}</div> -->
                <app-block-bike *ngIf="bike===selectedBike && !isBikeBlocked(bike)" [bike]="bike" (bikeChanged)="getBikes()"></app-block-bike>
                <app-unblock-bike *ngIf="bike===selectedBike && isBikeBlocked(bike)" [bike]="bike" (bikeChanged)="getBikes()"></app-unblock-bike>
            </div>
        </div>
    </div>
</div>
