<div class="list">
    <h3>Użytkownicy</h3>
    <div class="list-items">
        <div 
            *ngFor="let user of users"
            class="list-item"
            (click)="selectUser(user)"
        >
            <div class="list-item-side-left"> {{user.username}}</div>
            <div class="list-item-side-right"> {{user.status}}</div>
            <div *ngIf="user===selectedUser">
                <!-- <app-block-user [user]="user"></app-block-user> -->
            </div>
        </div>
    </div>
</div>
